body{
    
    align-items: center;
    text-align: center;

}
@font-face {
    font-family: Montserrat-Regular;
    src: url(./MEDIA/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Medium;;
    src: url(./MEDIA/fonts/Montserrat-Medium.ttf);;
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(./MEDIA/fonts/Montserrat-Bold.ttf);;
}

/* SEARCH */

.screen_search{
    background-color: rgb(146, 199, 121);
    width: 414px;
    height: 800px;
    font-family: Montserrat-Regular;
    border-radius: 35px;
    position: relative;
    margin-top: 70px;
    margin-left: 710px;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flexbox;
}

#voltar{
    position: relative;
    width: 50px;
    float: left;
}
.search_bar{
    background-color: white;
    opacity: 0.8;
    padding: 1px;
    width: 300px;
    border-radius: 45px;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 5px;
    position: relative;
    display: flex;
}

.cards{
    background-color: white;
    padding: 0.5em;
    width: 150px;
    margin-top: 50px;
    margin-left: 30px;
    height: 200px;
    font-size: 12px;
    border-radius: 20px;
    float: left;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#dog_icon{
    width:25px;
    margin-left: 7px;
    align-items: center;
}

#cat_icon{
    width:25px;
    margin-left: 17px;
    align-items: center;
}

.cachorros{
    background-color: rgb(138, 229, 139);
    opacity: 0.8;
    width: 150px;
    top: 50px;
    left: 30px;
    position: relative;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    display: flex;
}

.gatos{
    background-color: rgb(236, 242, 236);
    width: 150px;
    top: -4px;
    left: 220px;
    position: relative;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 17px;
    display: flex;
}

#home{
    position: relative;
    width: 30px;
    top: -40px;
    left: 50px;
}

#home2{
    position: relative;
    width: 30px;
    top: -60px;
    left: 50px;
}

#home3{
    position: relative;
    width: 30px;
    top: -40px;
    left: 60px;
}

#home4{
    position: relative;
    width: 30px;
    top: -50px;
    left: 60px;
}


img{
    width: 100px;
    align-items: center;
    display: flex;
    margin-top: 0px;

}

#cachorros_img{
    display: flex;
    align-items: center;
    
   }
   #cachorros_img2{
    display: flex;
    align-items: center;
    margin-top: -10px;
    
   }
   #cachorros_img3{
    display: flex;
    align-items: center;
   }
   #cachorros_img4{
    display: flex;
    align-items: center;
    margin-top: -30px;
   }


/*FIM*/